<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <style> 
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;

   }
 
   .nav{
      width: 100%;
     
   }
   .navbar{
    width: 100%;
   }

</style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand"  style="color:powderblue" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" style="color:powderblue" href="/dashboard">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color:powderblue" href="/All_user">All Users</a>
                </li>
                <li class="nav-item">
                  <a  class="px-4 py-2 bg-blue-700 hover:big-blue-600 rounded" href="/logout">Logout</a>
                  </li>
              
                    {{  range . }}
                  {{if eq .Login_role_id 1}}
                  <a class="text-lg font-semibold hover:text-blue-100 pr-8" href="/manage_role">Role</a>
                  {{ end }}
                  {{ end }}

                  <li class="nav-item">
                    <a  class="px-4 py-2 bg-blue-700 hover:big-blue-600 rounded" href="/All_posts">All Posts</a>
                    </li>
            
              
              </ul>
        
        </div>
      </nav>
  


      <div class="row">
         <div class="col-3">
         
         </div>

      <div class="col-6 pt-4">
        <a href="/insert_post" class="btn btn-secondary btn-sm active mb-4" role="button" aria-pressed="true">INSERT POST</a>
            <div class="card-body">
        <table class="table bg-dark" style="color: white; border-radius: 10px;">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <!-- <th scope="col">Password</t0h> -->
                <th scope="col" >User</th>
                <th scope="col" colspan="2">Action</th>
                <th scope="col" colspan="2">image</th>


    
              </tr>
            </thead>
            <tbody>
                {{ range . }}
             
              <tr>
    
                <th scope="row">{{.ID}}</th>
                <td>{{.Title}}</td>
                <td>{{.Description}}</td>
                <td>{{.User_id}}</td>

             
                <td> <a href="/edit_post?id={{.ID}}"> Update </a> </td>
                <td>  <a href="/delete_posts?id={{.ID}}"> Delete </a>  </td>
                    

              <td> <img height=70px src="../static/uploads/{{ .Image }}" alt="iii"> </td>
              <!-- <img src="{{ .Image }}" alt="user image"> -->
              
                
              </tr>
              <h1>{{ .SessionId }}</h1>     
              {{ end }}
            </tbody>
          </table>
        </div>
    </div>

      </div>

      <div class="col-3">

      </div>
    </div>
  
     
</body>
</html>

